.toggle-switch {
  font-family: "Cabinet-Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 56px;
  height: 28px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: visible;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.toggle-switch:hover {
  border-color: #000;
}

.toggle-switch:hover .toggle-switch__circle {
  transform: translateX(2px);
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  transform: translateX(-2px);
}

.toggle-switch:hover .toggle-switch__text {
  color: #000;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 26px;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: -2px;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.25s;
}

.toggle-switch__text {
  position: absolute;
  top: 1px;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__text_f {
  left: 9px;
}

.toggle-switch__text_c {
  right: 7px;
}

.toggle-switch__text_active {
  mix-blend-mode: difference;
  color: #fff;
}
