.cards {
  font-family: "Cabinet-Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cards__text {
  margin: 40px 0 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  padding: 0;
  margin: 34px 0 0;
  list-style: none;
}
