.sidebar {
  padding: 0;
  margin: 47px 0 0;
}

.sidebar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 229px;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}
