.clothes-section__row {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 63px 0 16px;
}

.clothes-section__title {
  padding: 0;
  margin: 0;
}

.clothes-section__add-clothes-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
